<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h2>Apartment Notification</h2>
<p>
  Hi <%=@display_name%>,
  <br/><br/>
  <%=@sender_name%> has sent an apartment-wide notification to <%=@apartment_name%>:
  <br/><br/>
  Notification title: <%=@title%>
  <br/>
  Notification content:
  <br/>
  <%=@message_sample%>
  <br/><br/>
  <%= link_to 'Login', Settings.BASE_URL %> to view more details about this notification.
  <br /><br />
  Thank you for using TURDMate!
</p>
</body>
</html>